/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
    --main-color: #e41160;
    --p-color: #e1357d;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

/* banner area style */
.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #feeae9;
}
.b-title{
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.b-price{
    font-size: 40px;
    font-weight: 500;
    color: var(--main-color);
    padding-right: 40px;
    padding-bottom: 20px;
}
.b-btn{
    background-image: linear-gradient(#e1357d, #e41160);
    padding: 8px 20px;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
}
.carousel-item{
    padding: 30px;
}

/* Categories area */
#categories-area h2{
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}
.cat1, .cat2, .cat3{
   
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 5px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: purple;
}   
.cat3{
    background-color: blue;
}


/* Shoes Categories */
#shoes h1{
    padding: 50px 0;
}
.card{
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px lightgray;
}
.card-title{
    font-size: 35px;
    padding: 20px 0;
}
.card-price{
    font-size: 25px;
    font-weight: 500;
}
.card-footer{
    border-top: none;
    background-color: #fff;
}

/* Contact area */
.contact-box{
    padding: 50px 20px;
}