/* Font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
    --main-color: #e41160;
    --p-color: #e1357d;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

/* banner area style */
.container{
    margin-bottom: 100px;
}
.orange-bg{
    background-color: #feeae9;
}
.b-title{
    font-size: 50px;
    font-weight: 500;
    padding-bottom: 20px;
    text-transform: uppercase;
}
.b-price{
    font-size: 40px;
    font-weight: 500;
    color: var(--main-color);
    padding-right: 40px;
    padding-bottom: 20px;
}
.b-btn{
    background-image: linear-gradient(#e1357d, #e41160);
    padding: 8px 20px;
    border-radius: 5px;
    color: #fff;
}
.carousel-item{
    padding: 30px;
}